 :root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
 } 
/* start globle rouls */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", serif;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ul li {
    list-style: none;
}
/* end globle rouls */
/* start contener */
.contener {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (max-width: 768px) {
    .contener {
        width: 750px;
    }
}
@media (max-width: 992px) {
    .contener {
        width: 970px;
    }
}
@media (max-width: 1200px) {
    .contener {
        width: 1170px;
    }
}
/* end contener */
/* start componer */
.main-heading {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    width: fit-content;
    margin: 0 auto 30px;
}
.main-heading h2 {
    border: 1px solid black;
    padding: 15px 40px; 
    text-transform: uppercase;
    font-size: 30px;
    position: relative;
    transition: calc(var(--main-transition) + 3s);
}
.main-heading h2::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translatey(-50%);
    background-color: var(--main-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: calc(var(--main-transition) + 1s);
    z-index: -10;
}
.main-heading h2::after {
    content: "";
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translatey(-50%);
    background-color: var(--main-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: calc(var(--main-transition) + 1s);
    z-index: -10;
}
.main-heading h2:hover::before {
    left: 0;
    top: 0;
    transform: translatey(0);
    width: 100%;
    height: 100%;
    border-radius: 0;
    opacity: 0.5;
}
.main-heading h2:hover::after {
    right: 0;
    top: 0;
    transform: translatey(0);
    width: 100%;
    height: 100%;
    border-radius: 0;
    opacity: 0.5;
}
.main-heading h2:hover {
    border: none;
    color: white;
    transition: calc(var(--main-transition) + 3s);
    background-color: var(--main-color);
}
/* end componer */
/* start header  */
header {
    text-transform: capitalize;
    position: relative;
    background-color: white;
}
header .contener {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
@media (max-width: 767px) {
    header .contener {
        flex-direction: column;
    }
}
header .contener .alzero-link {
    color: var(--main-color);
    font-size: 25px;
    font-weight: bold;
}
@media (max-width: 767px) {
    header .contener .alzero-link {
        padding-top: 25px;
    }
}
header .contener > ul {
    display: flex;
    padding: 0;
}
header .contener > ul li:hover {
    background-color: var(--section-background);
    color: var(--main-color);

}
header .contener > ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    height: 72px;
    padding: 0 30px;
    align-items: center;
}
@media (max-width: 767px) {
    header .contener > ul li a {
        height: 55px;
        padding: 0  15px;
      }
}
header .contener > ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 8px;
    background-color: var(--main-color);
    transition: var(--main-transition);
}
header .contener > ul li a:hover::before {
    width: 100%;
}
header .contener > ul li a:active{
    color: var(--main-color);
}
header .contener ul > li:last-child a {
    min-width: 120px;
}
header .ather-links {
    background-color: white;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: calc(100% - 15px);
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 4px solid var(--main-color);
    z-index: -100;
}
@media (max-width: 767px) {
    header .ather-links {
        flex-direction: column;
        width: 100%;
    }
}
header .ather-links img {
    margin: 0 20px;
}
@media (max-width: 992px) {
    header .ather-links img {
        display: none;
    }
}
header .ather-links > div {
    margin-left: 30px;
}

header .ather-links > div ul {
    padding: 0;
}
header .ather-links > div ul li:not(:last-of-type) {
    border-bottom: 1px solid var(--main-color);
}
@media (max-width: 767px) {
    header .ather-links > div ul li {
        border-bottom: 1px solid var(--main-color);
    }
}
header .ather-links > div ul li {
    min-width: 250px;
}

header .ather-links > div ul a{
    justify-content: flex-start;
}
header .ather-links > div ul a i{
    margin-right: 10px;
}
header .contener ul > li:last-child:hover .ather-links {
    transition: var(--main-transition);
    z-index: 3;
}
/* start header  */
/* start welcome */
.welcome {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    height: 85vh;
    text-transform: capitalize;
    position: relative;
}
.welcome::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.welcome .contener {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
@media (max-width: 767px) {
    .welcome .contener {
        width: 100%;
        flex-direction: column;
        height: 100%;
    }
}
.welcome .contener .text {
    max-width: 500px;
}
.welcome .contener .text h1 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -3px;
    margin: 0;
}
@media (max-width: 767px) {
    .welcome .contener .text {
        text-align: center;
        margin: auto 0;
    }
    .welcome .contener .text h1 {
        font-size: 30px;
      }
}
.welcome .contener .text p {
    line-height: 1.8;
    font-size: 20px;
}
.welcome .contener img {
    max-width: 600px;
    animation: up-and-down 5s linear infinite;
    position: relative;
}
@media (max-width: 992px) {
    .welcome .contener img {
        display: none;
    }
}
.welcome i:last-of-type {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    animation: bouncing 1.5s infinite;
}
/* end welcome */








/* start animation  */
@keyframes up-and-down {
    0%,
    100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}
@keyframes bouncing {
    0%, 10%, 20%, 50%, 80%, 100% {
        transform: translatey(0);
    }
    40%, 60% {
        transform: translatey(-15px)
    }
}
/* end animation  */